section {
    padding: 1rem;
    border: 1px solid var(--black-color);
    border-radius: 5px;

    header {
        margin-bottom: 1rem;

        strong {
            font-weight: 900;
        }
    }

    main {
        .task {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0.5rem;
            padding: 0.5rem 1rem;
            border: 1px solid var(--light-grey-color);
            border-radius: 5px;

            strong {
                font-weight: 900;
            }
        }

        .btn {
            padding: 0.3rem 0.4rem;
            border-radius: 2rem;
        }

        & > p {
            padding-bottom: 1rem;
        }
    }
}
