p {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        width: 200px;
        margin: 0 2rem;
        text-align: center;
    }

    i {
        font-size: 3rem;
        font-weight: 900;
        cursor: pointer;
        border: 1px solid var(--light-grey-color);
        border-radius: 5px;
        user-select: none;
    }
}
